.header {
    width: 100vw;
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(3, 23, 32);
    color: white;
    font-size: calc(10px + 2vmin);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 3rem;
    flex-direction: column;
    color: #ffffff;
}